<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="fullName" >Full Name</label>
    <input type="text" name="firstName" [(ngModel)]="firstName" id="firstName" placeholder="First Name" style="width: 47%">
    <input type="text" name="lastName" [(ngModel)]="lastName" id="lastName" placeholder="Last Name" style="width: 47%">
  </div>
  <div class="form-control">
    <label for="email" > Email </label>
    <input type="text" name="email" [(ngModel)]="email" id="email" placeholder="example@example.com">
  </div>
<input type="submit" value="Submit" class="btn btn-block" style="background-color: green;" />
<button type="reset" class="btn btn-block" style="background-color: rgb(95, 97, 95);">Clear Form</button>
</form>
